/* Apply to every element in the project */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  overflow-x: hidden; /* Prevents any horizontal scrolling */
  margin: 0;
  padding: 0;
}
